/* @font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
} */

@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}



body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.container {
    width: 100%;
    background-color: #0D262D;
    margin: 0;
    padding: 25px;
    color: #fff;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn-area{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 35px;
}
.btn-area > button
{
    font-family: 'Press Start 2P', cursive;
    padding: 5px 25px;
}
.nivel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nivel > label{
    margin-bottom: 5px;
}

.nivel > select{
    padding: 5px;
    border-radius: 10px;
    background-color: deepskyblue;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}